input {
    padding: 8px;
    margin-left: 20px;
    border-radius: 3px;
    margin-bottom: 6px;
    border: solid 2px violet
}

input.name {
    margin-left: 15px;
}

input.email {
    margin-left: 17px;
}

input.phone {
    margin-left: 11px;
}

img {
    margin-left: 65px;
}

table#btn_add_edit {
    margin-left: 95px;
}

input#BtnSubmit {
    background: #306b90;
    color: white;
    border-radius: 6px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px;
    outline: none;
}

input#BtnEdit {
    background: #306b90;
    color: white;
    border-radius: 6px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px;
    outline: none;
}

input.button {
    background: #306b90;
    color: white;
    border-radius: 6px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px;
    outline: none;
}

.logoadmin {
    margin-left: -51px;
}
